.article-page-cnt {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
  background-color: rgb(252, 252, 252);
  border-radius: 22px;
}

.article-cnt {
  flex: 70%;
  padding: 2rem;
  padding-top: 0rem;
}

.more-articles {
  flex: 30%;
}
.snippets {
  border-radius: 22px;
  position: sticky;
  top: 10px;
}

.snippet:hover {
  color: #f66d7e;
}

.more-articles p {
  font-size: 0.9em;
  margin: 8px;
}

.article-body {
  line-height: 2rem;
}
.end-txt {
  font-style: italic;
  text-align: right;
  margin: 0;
  padding: 6px;
}

.article-loading {
  padding: 3rem;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  gap: 1rem;
}
.skel-text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100vh;
  width: 100%;
}

.skel-head {
  height: 3rem;
  width: 100%;
}

.skel-body {
  height: 100%;
  min-width: 100%;
  background-color: gray;
}
.skel-snip {
  height: 15rem;
  min-width: 100%;
  background-color: gray;
}
.skel {
  border-radius: 28px;
  background: linear-gradient(90deg, #b8b7b7 25%, #efefef 50%, #acacac 75%);
  background-size: 300% 100%;
  animation: gradientLoading 2s infinite alternate;
}

.like-svg {
  cursor: pointer;
}
.like-svg path {
  transition: fill 0.3s ease;
}
.like-svg :hover path {
  fill: #f66d7e;
}

.likes-div {
  text-align: center;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .article-page-cnt {
    flex-direction: column;
    gap: 0rem;
  }

  .article-loading {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .article-header {
    font-size: 1.5em;
  }
  .more-articles {
    padding: 1rem;
  }
  .more-articles p {
    font-size: 1.2em;
    margin-left: 0px;
    margin-bottom: 12px;
  }
}
