.article-page-cnt {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
  background-color: rgb(252, 252, 252);
  border-radius: 22px;
}

.article-cnt {
  flex: 70%;
  padding: 2rem;
  padding-top: 0rem;
}

.more-articles {
  flex: 30%;
}
.snippets {
  border-radius: 22px;
  position: sticky;
  top: 10px;
}

.more-articles p {
  font-size: 0.9em;
  margin: 8px;
}

.article-body {
  line-height: 2rem;
}
