.nav-logo {
  font-size: 1.3em;
  margin: 0px;
}

header {
  position: sticky;
  top: 0;
  margin: 0px;
  padding: 0.5rem 0.5rem;
  transition: all 0.5s;
  color: #f66d7e;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

header.sticky {
  background-color: white;
  color: #333;
}
